<h1>Display your Pirate here</h1>
Name: <%= @pirate %>
<br>
Weight: <%= @weight %>
<br>
Height: <%= @height %>

<h2>Display your first ship here</h2>
<br>
Name: <%= @ship1["name"] %>
<br>
Type: <%= @ship1["type"] %>
<br>
Booty: <%= @ship1["booty"] %>

<h2>Display your second ship here</h2>
<br>
Name: <%= @ship2["name"] %>
<br>
Type: <%= @ship2["type"] %>
<br>
Booty: <%= @ship2["booty"] %>